body {
    font-family: 'Fredoka', sans-serif;
}
button{
    border-radius: 10px;
    cursor: pointer;
}
.container{
    display: grid;
    justify-content: center;
}
.combustiveis{
    padding: 30px;
}
.etanol,
.gasolina{
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    font-style: italic;
}
.main {
    min-height: 100vh;
    background-color: #DADFE8;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.resultado{
    background-color: white;
    display: flex;
    justify-content: center;
}
.texto{
    text-align: justify;
}
